<footer class="bg-light" style="width: 100%;">
  <div class="p-2 container d-flex justify-content-around">
    <%= link_to "About", about_path %>
    <%= link_to "Copyright", copyright_path %>
    <span>James Pettit ©2021</span>
  </div>
</footer>