<div class="container">
  <div>
    <h1 class="display-4">Spells</h1>
    <div class="d-flex flex-row flex-wrap">
      <% @spells.each do |spell| %>
        <%= react_component("SpellCard", { spell: spell}, style: "flex: 1; width: 100%; margin-bottom: 16px") %>
      <% end %>
    </div>
  </div>
</div>
